/arya-*
/cyclic1-*
/cyclic2-*
/cyclic3-*
/export-*
/fns1-*
/fns2-*
/importall-*
/mismatch1-*
/mismatch2-*
/panics-*
/playground-*
/shadow1-*
/shadow2-*
/snow-*
/stubborn-*
/syrio-*
/xdep-*

/playground

!/hotswap.staticPlugins.go
